<h1>Rota root ('welcome/index')</h1>
<p>O Controller está em app/controllers/welcome_controller.rb</p>
<p>View tá em app/views/welcome/index.html.erb</p>
<span>Que doidera, gerou tudo que precisa pra montar uma página só com o comando "bin/rails generate controller Welcome index"</span>
<br/>
<span>Poha gerou literalmente tudo, controller, view, style.sccs, helper, rota, teste e uma parada que chama coffee que não sei pra que serve ainda </span>

<br/>
<%= link_to 'Posts publicados', controller: 'articles' %>